body {
    background-size: cover;
    background-attachment: fixed;
   background-repeat: no-repeat;
    background-color: rgb(252,152,100);
    min-width: 400px;
    min-height: 400px;
    
}
tr {
    background-color: rgb(200,152,190);
    text-align: center;
    color: red;
}
